.bodyattrac{
    font-family: 'Rajdhani', sans-serif;
}
/*navbar*/
.myNavbar {
    background-color: #302135;
    opacity: 0.8;
}

.myNavbar .navbar-brand,
.myNavbar .navbar-text {
    color: rgb(255, 255, 255);
}

/* change the link color */
nav .navbar-nav li a {
    color: white;
}
@media screen and (min-width: 600px) {
    .show-hided {
        display: none !important;
    }
}

/* change the color of active or hovered links */
nav .navbar-nav li a:hover {
    color: #1e47f3;
}

nav .navbar-nav li a:active {
    color: #1e47f3;
}
.main-title::after{
    content: '';
    width: 120px;
    height: 2px;
    position: absolute;
    transform: translateX(-50%);
}
/*navbar*/

/* sign in */
.sign-in{
    width: 50%;
    height: 100%;
    margin: auto;
}
.shape{
    width: 80%;
    margin: auto;

}
.control-container{
    margin-bottom: 10px !important;
}

/* sign in */

/* signup */

.popup-design{
    width: 70%;
    margin: auto;
}

/* signup */

/*top Destination*/
.Destenation{
     /*padding: 5px;*/
    overflow:  hidden;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;

}
.Destenation .box{
    padding : 5px;
    overflow: hidden;
    position: relative;
    font-family: 'Itim', cursive;
    font-weight: bold;
    font-size: 29px;
}
.Destenation .box::before{
    content: attr(data-work);
    position: absolute;
    background-color:	#F08080C2 ;
    width : calc(100% - 5px);
    height: 100% ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    transition: 0.5s ;
    font-size: 1.5rem;
    transform: translateX(calc(-100% - 10px));

}
.Destenation .box:hover::before{
    transform: translateX(0);

}
/*top destenatin*/

/*custom scrollbar*/

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3979ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #002f91;
}
.imgpadding{
    padding-right: 0px;
    padding-left: 0px;
}

/*custom scrollbar*/
