/* background  */
body {
    margin: 0px;
}
.main-color{
    background-color: #1e47f3 !important;
}
.backGround {
    background-image: linear-gradient(
            to right bottom,
            rgba(0, 58, 108, 0.5),
            rgba(97, 214, 255, 0.5)),
    url('1432168.jpg');
    position: absolute;
    background-size: cover;
    background-position: top;
    height: 50%;
    width: 100%;
}
@media screen and (min-width: 600px) {
    .show-hided {
        display: none !important;
    }
}
/* background  */
/* navbar */
.myNavbar {
    background-color: #302135;
    opacity: 0.8;
}

.myNavbar .navbar-brand,
.myNavbar .navbar-text {
    color: rgb(255, 255, 255);
}

/* change the link color */
nav .navbar-nav li a {
    color: white;
}

/* change the color of active or hovered links */
nav .navbar-nav li a:hover {
    color: #1e47f3;
}

nav .navbar-nav li a:active {
    color: #1e47f3;
}



/* navbar  */

/* phrase  */
.phrase {
    position: relative;
    margin: auto;
    top: 45%;
    text-align: center;
    font-size: 300%;

    color: rgba(255, 255, 255, 0.8);
    font-family: fantasy;
    width: 50%;
}

/* phrase  */

/* searchbar */
.searchBar {
    background-color: #ffffff;
    width: 100%;
    margin: auto;
    top: 78%;
    z-index: 1;
}
.input-group-date{
    width: 46% !important;
    margin-left: 0px !important;
    padding: 0px !important;
}
.pointer-cursor-date{
    border: 1px  solid #1e47f3 !important;
    height: 34px;
    width: 180px;
    margin-left: 10px;
}
.pointer-cursor-date:hover{
    cursor: pointer;
}
.input-group {
    display: inline-block;
    width: 20% !important;
}
.input-style{
    border:1px solid #0059ff !important;
}

.align{
    padding: 0px !important;
    width: 22% !important;
}

span {cursor:pointer; }
/* travellers number */
.number{
    width: 200px;
    display: inline-block;
}
.minus, .plus{
    width:20px;
    height:20px;
    background: #ffffff;
    border-radius:4px;
    padding:0px 5px 0px 5px;
    border:1px solid #1e47f3;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-right: 3px;
}

/* travellers number */

/* searchbar */

/* sign in */
 .sign-in{
     width: 50%;
     height: 100%;
     margin: auto;
 }
 .shape{
     width: 80%;
     margin: auto;

 }
 .control-container{
     margin-bottom: 10px !important;
 }

/* sign in */

/* signup */

.sign-up-design{
    width: 70%;
    margin: auto;
}

/* signup */

/* adds */

.Destenation{
    /*padding: 5px;*/
    overflow:  hidden;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;

}
.Destenation .box{
    padding : 5px;
    overflow: hidden;
    position: relative;
    font-family: 'Itim', cursive;
    font-weight: bold;
    font-size: 29px;
}
.Destenation .box::before{
    content: attr(data-work);
    position: absolute;
    background-color:	#F08080C2 ;
    width : calc(100% - 5px);
    height: 100% ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    transition: 0.5s ;
    font-size: 1.5rem;
    transform: translateX(calc(-100% - 10px));

}
.Destenation .box:hover::before{
    transform: translateX(0);
}

.pointer-cursor-adds:hover{
     cursor: pointer;
}

/* adds */

/* footer */



/* footer */


/*custom scrollbar*/

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3979ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #002f91;
}

/*custom scrollbar*/

/*book offer popup menu text style*/
.booking-popup-text{
    width: 60px;

}


/*book offer popup menu style*/