/* background  */
body {
    margin: 0px;
}
.main-color{
    background-color: #1e47f3 !important;
}
.backGround {
    background-image: linear-gradient(
            to right bottom,
            rgba(0, 58, 108, 0.5),
            rgba(97, 214, 255, 0.5)),
    url('1432168.jpg');
    position: absolute;
    background-size: cover;
    background-position: top;
    height: 50%;
    width: 100%;
}

/* background  */
/* navbar */
.myNavbar {
    background-color: #0059ff;
    opacity: 0.8;
}

.myNavbar .navbar-brand,
.myNavbar .navbar-text {
    color: rgb(255, 255, 255);
}

/* change the link color */
nav .navbar-nav li a {
    color: white;
}

/* change the color of active or hovered links */
nav .navbar-nav li a:hover {
    color: #1e47f3;
}

nav .navbar-nav li a:active {
    color: #1e47f3;
}



/* navbar  */

/* phrase  */
.phrase {
    position: relative;
    margin: auto;
    top: 45%;
    text-align: center;
    font-size: 300%;

    color: rgba(255, 255, 255, 0.8);
    font-family: fantasy;
    width: 50%;
}

/* phrase  */

/* searchbar */
.searchBar {
    background-color: #ffffff;
    width: 70%;
    margin: auto;
    top: 65%;
    z-index: 1;
}
.input-group-date{
    width: 46% !important;
    margin-left: 0px !important;
    padding: 0px !important;
}
.pointer-cursor-date{
    border: 1px  solid #1e47f3 !important;
    height: 34px;
    width: 180px;
}
.pointer-cursor-date:hover{
    cursor: pointer;
}
.input-group {
    display: inline-block;
    width: 20% !important;
}
.input-style{
    border:1px solid #0059ff !important;
}

.align{
    padding: 0px !important;
    width: 22% !important;
}

span {cursor:pointer; }
/* travellers number */
.number{
    width: 200px;
    display: inline-block;
}
.minus, .plus{
    width:20px;
    height:20px;
    background: #ffffff;
    border-radius:4px;
    padding:0px 5px 0px 5px;
    border:1px solid #1e47f3;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-right: 3px;
}

/* travellers number */

/* searchbar */

/* sign in */
 .sign-in{
     width: 50%;
     height: 100%;
     margin: auto;
 }
 .shape{
     width: 80%;
     margin: auto;

 }
 .control-container{
     margin-bottom: 10px !important;
 }

/* sign in */

/* sign in */

.sign-up-design{
    width: 70%;
    margin: auto;
}

/* sign in */

/* adds */

.Add {
    position: absolute;
    height: 60%;
    width: 31%;
    border: 2px solid black;
    background-image: url('1432168.jpg');
    z-index: 0;
    margin-right: 2px;
}
#add-1{
    left: 2.5%;
}

#add-2{
    left: 34.5%;
}

#add-3{
    left: 66.5%;
}

/* adds */

/* footer */

.footer{
    position: absolute;
    background-color: white;
    height: 20%;
    width: 100%;
    margin-top: 80%;

}
.footers-head{
    height: 30px;
    width: 100%;
    background-color: #1e47f3;
    color: white;

}

/* footer */
